sat_enumeration_brown_dls
!sat_enumeration_brown_dls/
enumerate_brown_dls
!enumerate_brown_dls/
solve_sat_cms
!solve_sat_cms/
dls_main_class_enumeration
!dls_main_class_enumeration/
dlx_mols
!dlx_mols/
timelimit
*.o
*.txt
*.cnf
out_*
log_*
brown_dls_*
orth_*
transversals*
brown_*
